# Lines that start with '#' are comments.
*~
*.diff
*#
.classpath
.project
.settings
bin/flume-env.sh
conf/flume-site.xml
bin/.settings
.eclipse
pmd_report.html
*/bin
target
logs
.svn
*.iws
*.ipr
.idea
*.iml
patchprocess
derby.log
nb-configuration.xml
.DS_Store
